player-connection-mode=Listen
player-connection-guid=2207898675
player-connection-debug=1
player-connection-project-name=lightstreamer-unity-test
player-connection-ip=192.168.210.7
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=be1d61c4389748a69bd46826c5f9a8a5
